html, body {
	display: block !important;
	width: 100% !important;
	height: 100% !important;
}

body > h1 {
	margin: 0 !important;
	padding-top: 1rem !important;
}

.main > span {
	font-size: 1.78rem !important;
	float: right;
	margin-right: 5px;
}

.list .item .name {
	font-size: 1.3rem;
}

.list .item span.male {
	color: cornflowerblue;
	transform: translate(0, 4px);
}

.list .item span.female {
	color: tomato;
	transform: translate(0, 4px);
}

.list .item .address {
	font-style: italic;
}
